<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes!</title>
</head>

<body>

    <h1>Cupcakes!</h1>

    <ul id="cupcakes">
    </ul>

    <form id="new-cupcake">
        <div>
            <label for="flavor">Flavor:</label>
            <input name="flavor" id="flavor">
        </div>

        <div>
            <label for="size">Size:</label>
            <input name="size" id="size">
        </div>

        <div>
            <label for="rating">Rating:</label>
            <input type="number" name="rating" id="rating">
        </div>

        <div>
            <label for="image">Image:<image>
        </div>

        <button>Confirm</button>
    </form>

    <script src="/static/cupcakes.js"></script>
</body>

</html>